<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<!-- <div class="wrapper"> -->
<div class="all-items">

<% @items.each do |item| %> 
<div class="idv-item" data-weight="<%= item.weight %>"> 
<%= image_tag item.image %>

</div>
<% end %> 
</div>
<div class="suitcase">

  <div class="suitcase-items" id="one"></div>
  <div class="suitcase-items"id="two"></div>
  <div class="suitcase-items" id="three"></div>
  <div class="suitcase-items" id="four"></div>
  <div class="suitcase-items" id="five"></div>
  <div class="suitcase-items" id="six"></div>
  <div class="suitcase-items" id="seven"></div>
  <div class="suitcase-items" id="eight"></div>
  <div class="suitcase-items" id="nine"></div>
  <div class="suitcase-items" id="ten"></div>
  <div class="suitcase-items" id="eleven"></div>
  <div class="suitcase-items" id="twelve"></div>
  <div class="suitcase-items" id="thirteen"></div>
  <div class="suitcase-items" id="fourteen"></div>
  <div class="suitcase-items" id="fifteen"></div>
  <div class="suitcase-items" id="sixteen"></div>
</div> 
<!-- </div> -->
